@font-face {
	font-family: 'iconfont';
	/* project id 458924 */
	src: url('//at.alicdn.com/t/font_458924_6h3ubzet3tnmte29.eot');
	src: url('//at.alicdn.com/t/font_458924_6h3ubzet3tnmte29.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_458924_6h3ubzet3tnmte29.woff') format('woff'), url('//at.alicdn.com/t/font_458924_6h3ubzet3tnmte29.ttf') format('truetype'), url('//at.alicdn.com/t/font_458924_6h3ubzet3tnmte29.svg#iconfont') format('svg');
}

[class^="icon-custom-"]:before,
[class*=" icon-custom-"]:before {
	font-family: "iconfont" !important;
	font-size: 20px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-custom-icon-comment-processing:before {
	content: "\e6cb";
}

.icon-custom-icon-verified:before {
	content: "\e916";
}

.icon-custom-icon-close:before {
	content: "\e6b7";
}

.icon-custom-icon-chevron-down:before {
	content: "\e6a9";
}

.icon-custom-icon-movie:before {
	content: "\e803";
}

.icon-custom-icon-filmstrip:before {
	content: "\e73a";
}

.icon-custom-icon-dots-horizontal:before {
	content: "\e705";
}

.icon-custom-icon-star:before {
	content: "\e8be";
}

.icon-custom-icon-star-outline:before {
	content: "\e8bf";
}

.icon-custom-account:before {
	content: "\e603";
}

.icon-custom-icon-close-circle1:before {
	content: "\e642";
}

.icon-custom-icon-lock:before {
	content: "\e7d9";
}

.icon-custom-icon-account-location:before {
	content: "\e607";
}

.icon-custom-icon-account-multiple:before {
	content: "\e606";
}

.icon-custom-icon-account-plus:before {
	content: "\e608";
}

.icon-custom-icon-book-open-variant:before {
	content: "\e665";
}

.icon-custom-icon-calendar-text:before {
	content: "\e681";
}

.icon-custom-icon-check-circle:before {
	content: "\e6a5";
}

.icon-custom-icon-clipboard-text:before {
	content: "\e6b2";
}

.icon-custom-icon-delete-forever:before {
	content: "\e6f3";
}

.icon-custom-icon-dns:before {
	content: "\e703";
}

.icon-custom-icon-home:before {
	content: "\e7a0";
}

.icon-custom-icon-image:before {
	content: "\e7ac";
}

.icon-custom-icon-information:before {
	content: "\e7b8";
}

.icon-custom-icon-keyboard-backspace:before {
	content: "\e7c0";
}

.icon-custom-icon-map:before {
	content: "\e7e1";
}

.icon-custom-icon-message-alert:before {
	content: "\e7ee";
}

.icon-custom-icon-message-processing:before {
	content: "\e7f0";
}

.icon-custom-icon-message-video:before {
	content: "\e7f4";
}

.icon-custom-icon-package-up:before {
	content: "\e82f";
}

.icon-custom-icon-pencil:before {
	content: "\e83a";
}

.icon-custom-icon-play-circle-outline:before {
	content: "\e84f";
}

.icon-custom-icon-thumb-up:before {
	content: "\e8e6";
}

.icon-custom-icon-vimeo:before {
	content: "\e921";
}

.icon-custom-icon-widgets:before {
	content: "\e939";
}

.icon-custom-icon-youtube-play:before {
	content: "\e948";
}

.icon-custom-icon-jiangbei:before {
	content: "\e61b";
}

.icon-custom-icon-ic_done:before {
	content: "\e8f4";
}

.icon-custom-icon-ic_important_devices:before {
	content: "\e906";
}

.icon-custom-icon-ic_search:before {
	content: "\e926";
}

.icon-custom-icon-ic_shopping_cart:before {
	content: "\e92e";
}

.icon-custom-icon-ic_touch_app:before {
	content: "\e938";
}

.icon-custom-icon-ic_contacts:before {
	content: "\e971";
}

.icon-custom-icon-ic_forum:before {
	content: "\e972";
}

.icon-custom-icon-ic_mail_outline:before {
	content: "\e976";
}

.icon-custom-icon-ic_add:before {
	content: "\e97f";
}

.icon-custom-icon-ic_mail:before {
	content: "\e989";
}

.icon-custom-icon-ic_access_time:before {
	content: "\e996";
}

.icon-custom-icon-ic_vertical_align_top:before {
	content: "\e9db";
}

.icon-custom-icon-ic_keyboard_arrow_right:before {
	content: "\e641";
}

.icon-custom-icon-ic_place:before {
	content: "\ea5c";
}

.icon-custom-icon-ic_ondemand_video:before {
	content: "\ea7d";
}

.icon-custom-icon-ic_poll:before {
	content: "\ea9a";
}

.icon-custom-icon-ic_school:before {
	content: "\ea9b";
}

.icon-custom-icon-vip:before {
	content: "\e6f5";
}

.icon-custom-icon-jingxuan:before {
	content: "\e6d3";
}

.icon-custom-icon-ffbc00:before {
	content: "\e612";
}

.icon-custom-icon-donghua:before {
	content: "\e62c";
}

.icon-custom-icon-yonghu:before {
	content: "\e62d";
}

.icon-custom-play-show {
	width: 0.94rem;
	height: 0.94rem;
}

.icon-custom-play-show:before {
	content: '';
	background-image: url(./assets/play.png);
	width: 0.94rem;
	height: 0.94rem;
	background-size: 0.94rem 0.94rem;
	position: absolute;
	top: -0.18rem;
}

* {
	margin: 0;
	padding: 0;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #F7F7F7 !important;
}

ul {
	list-style: none;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.text-center {
	text-align: center !important;
}

.flex-pack-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-pack-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.bgwhite {
	background: #FFFFFF;
}


/*基础css，参考bootstrap*/

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.margin {
	margin: 1.6rem
}

.margin-0 {
	margin: 0!important
}

.margin-xs {
	margin: .5rem
}

.margin-sm {
	margin: 1rem
}

.margin-lg {
	margin: 2.4rem
}

.margin-xl {
	margin: 3.2rem
}

.margin-top {
	margin-top: 1.6rem
}

.margin-top-0 {
	margin-top: 0!important
}

.margin-top-xs {
	margin-top: .5rem
}

.margin-top-sm {
	margin-top: 1rem
}

.margin-top-lg {
	margin-top: 2.4rem
}

.margin-top-xl {
	margin-top: 3.2rem
}

.margin-bottom {
	margin-bottom: 1.6rem
}

.margin-bottom-0 {
	margin-bottom: 0!important
}

.margin-bottom-xs {
	margin-bottom: .5rem
}

.margin-bottom-sm {
	margin-bottom: 1rem
}

.margin-bottom-lg {
	margin-bottom: 2.4rem
}

.margin-bottom-xl {
	margin-bottom: 3.2rem
}

.margin-left {
	margin-left: 1.6rem
}

.margin-left-0 {
	margin-left: 0!important
}

.margin-left-xs {
	margin-left: .5rem
}

.margin-left-sm {
	margin-left: 1rem
}

.margin-left-lg {
	margin-left: 2.4rem
}

.margin-left-xl {
	margin-left: 3.2rem
}

.margin-right {
	margin-right: 1.6rem
}

.margin-right-0 {
	margin-right: 0!important
}

.margin-right-xs {
	margin-right: .5rem
}

.margin-right-sm {
	margin-right: 1rem
}

.margin-right-lg {
	margin-right: 2.4rem
}

.margin-right-xl {
	margin-right: 3.2rem
}

.padding {
	padding: 1.6rem
}

.padding-0 {
	padding: 0!important
}

.padding-xs {
	padding: .5rem
}

.padding-sm {
	padding: 1rem
}

.padding-lg {
	padding: 2.4rem
}

.padding-xl {
	padding: 3.2rem
}

.padding-top {
	padding-top: 1.6rem
}

.padding-top-0 {
	padding-top: 0!important
}

.padding-top-xs {
	padding-top: .5rem
}

.padding-top-sm {
	padding-top: 1rem
}

.padding-top-lg {
	padding-top: 2.4rem
}

.padding-top-xl {
	padding-top: 3.2rem
}

.padding-bottom {
	padding-bottom: 1.6rem
}

.padding-bottom-0 {
	padding-bottom: 0!important
}

.padding-bottom-xs {
	padding-bottom: .5rem
}

.padding-bottom-sm {
	padding-bottom: 1rem
}

.padding-bottom-lg {
	padding-bottom: 2.4rem
}

.padding-bottom-xl {
	padding-bottom: 3.2rem
}

.padding-left {
	padding-left: 1.6rem
}

.padding-left-0 {
	padding-left: 0!important
}

.padding-left-xs {
	padding-left: .5rem
}

.padding-left-sm {
	padding-left: 1rem
}

.padding-left-lg {
	padding-left: 2.4rem
}

.padding-left-xl {
	padding-left: 3.2rem
}

.padding-right {
	padding-right: 1.6rem
}

.padding-right-0 {
	padding-right: 0!important
}

.padding-right-xs {
	padding-right: .5rem
}

.padding-right-sm {
	padding-right: 1rem
}

.padding-right-lg {
	padding-right: 2.4rem
}

.padding-right-xl {
	padding-right: 3.2rem
}

.blue {
	color: #3c8cd6;
}

.green {
	color: #3fbf4c;
}

.red {
	color: #ff5e68;
}

.gray {
	color: #9c9c9c;
}

.green_bg {
	background-color: #3fbf4c;
}

.red_bg {
	background-color: #ff5e68;
}

.gray_bg {
	background-color: #9c9c9c;
}

.text-align {
	text-align: center;
}

.yd-navbar:after {
	border-bottom: 1px solid whitesmoke !important;
}

.bottom_height {
	height: 1.04rem;
}

.yd-list-theme1 {
	background: #FFFFFF;
}

.yd-navbar-item {
	overflow: inherit !important;
}

.yd-list-theme1 .yd-list-item .yd-list-mes {
	height: 1.1rem;
}

.crowd img {
	width: 98.6%;
}